@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;600;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #00053b;
}

.section {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;

  &-top {
    background-image: url(../images/section_1_bg.jpg);
    background-size: cover;
    background-position: 50%;
    padding-top: 36px;

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
    }

    &__app-description {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-family: "Anton", sans-serif;
      font-size: 72px;
      font-weight: 400;
      font-style: normal;
      line-height: 106px;
      letter-spacing: 0.1em;
      margin: 0;
    }

    &__subtitle {
      font-family: "Inter", sans-serif;
      font-size: 34px;
      font-weight: 600;
      font-style: normal;
      line-height: 41px;
      letter-spacing: 0.07em;
      margin: 0 0 46px;
    }

    &__android-ver {
      font-family: "Inter", sans-serif;
      font-size: 19px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      line-height: 23px;
      transform: matrix(0.98, 0, -0.22, 1, 0, 0);
    }

    &__slogan {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 34px;
      line-height: 56px;
      color: #fff;
      width: 492px;
      height: 56px;
      background: linear-gradient(90deg, #00b0ff, #0726ce);
      margin-bottom: 28px;
    }

    &__button {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 94px;
      color: #fff;
      width: 518px;
      height: 94px;
      background: linear-gradient(90deg, #ffc123, #fa4800);
      box-shadow: 0 0 12px 1px #ffc123;
    }
  }

  &-bottom {

    &__title {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      line-height: 36px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #fff;
      padding: 40px 0 0;
      margin: 0;

      &--accent {
        color: #fa4800;
      }

      &--bold {
        font-weight: 800;
      }
    }

  }
}

.services {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  width: 100%;
  padding-top: 40px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;
    height: 168px;
    margin-bottom: 40px;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%,
    rgba(255, 181, 32, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 63.54%,
    rgba(0, 0, 0, 0.3) 94.06%,
    rgba(0, 162, 253, 0.3) 96.88%);
    margin-bottom: 18px;
  }

  &__image {
    &--1 {
      width: 49px;
      height: 46px;
    }

    &--2 {
      width: 42px;
      height: 42px;
    }

    &--3 {
      width: 55px;
      height: 55px;
    }

    &--4 {
      width: 80px;
      height: 60px;
    }

    &--5 {
      width: 40px;
      height: 45px;
    }

    &--6 {
      width: 45px;
      height: 50px;
    }
  }

  &__title {
    font-family: "Anton", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
}

.cashout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 0 30px;
  }

  &__cards {
    display: flex;
    gap: 30px;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 62px;
  background-color: #fff;
  border-radius: 10px;

  &__logo--mc {
    height: 37px;
    width: 59px;
    margin-right: 12px;
  }
}

.title {
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg, #fff, #cddcdf, #e0f9ff);
  transform: matrix(0.98, 0, -0.21, 1, 0, 0);
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.parallelogram {
  display: block;
  text-align: center;
  border-radius: 5px;
  transform: skew(-27deg);
}

.logo {
  width: 416px;
  height: 112px;
  margin-bottom: 29px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  &__description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    opacity: 0.6;
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0;
  }
}
